
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #ca0641;
}
.navbar button:hover {
  color: #ffffff;
}

img.CupTalk-gif {
  width: 840px;
  height: auto;
}

img.callEnded-png {
  width: 840px;
  height: auto;
}

.none {
  -webkit-filter: none;
  filter: none;
}

.blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.sepia {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}

button{
  margin: 8px;
  padding: 8px;
  background-color: #f1356d;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:hover{
  background-color: #ca0641;
}
label{
  color: #f1356d;
  font-weight: bold;
}
.home{
  color: #f1356d;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, html {
  --primaryGradient: linear-gradient(93.12deg, #581B98 0.52%, #9C1DE7 100%);
  --secondaryGradient: linear-gradient(268.91deg, #581B98 -2.14%, #9C1DE7 99.69%);
  --tertiaryGradient: linear-gradient(93.12deg, #860f80 0.52%, #e00c9a 100%);
  --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
  --light: 300;
  --regular: 400;
  --semiBold: 600;
  --extraLight: 300;
  --italic: 300;
  --primary: #581B98
}

/* 300;0,400;0,600;1,300 */

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 100%;
  background: #F1F1F1;
}

.chatbox__support {
  background: #f9f9f9;
  height: 450px;
  width: 350px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
  background: var(--primaryGradient);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: var(--primaryBoxShadow);
}

.chatbox__heading--header {
  font-size: 1.2rem;
  color: white;
}

.chatbox__description--header {
  font-size: .9rem;
  color: white;
}

/* Messages */
.chatbox__messages {
  padding: 0 20px;
}

.messages__item {
  margin-top: 10px;
  background: #E0E0E0; 
  padding: 8px 12px;
  max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
  color : #E0E0E0; 
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.messages__item--operator {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: var(--primary);
  color: white;
}

/* FOOTER */
.chatbox__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background: var(--tertiaryGradient);
  box-shadow: var(--secondaryBoxShadow);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 20px;
}

.chatbox__footer input {
  border: none;
  padding: 10px 10px;
  border-radius: 30px;
  text-align: center;
}

.chatbox__send--footer {
  color: white;
  background : #860f80;
  border: none;
  padding: 10px 10px;
  border-radius: 30px;
  text-align: center;
}

.chatbox__send--footer:hover{
  background: #660261;
  cursor: pointer;
}
.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
  padding: 10px;
  background: white;
  border: none;
  outline: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* CHATBOX
=============== */
.chatbox {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
  display: flex;
  flex-direction: column;
  background: #eee;
  width: 300px;
  height: 350px;
  z-index: -123456;
  opacity: 0;
  transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
  transform: translateY(-40px);
  z-index: 123456;
  opacity: 1;
  
}

/* BUTTON */
.chatbox__button {
  text-align: right;
}


.msgStatus{
  width: 36px;
  height: 29px;
}


/* HEADER */
.chatbox__header {
  position: sticky;
  top: 0;
  background: var(--tertiaryGradient);
  box-shadow: var(--secondaryBoxShadow);
}

/* MESSAGES */
.chatbox__messages {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex-direction: column-reverse;
}

.messages__item {
  background: var(--tertiaryGradient);
  max-width: 60.6%;
  width: fit-content;
}

.messages__item--operator {
  margin-left: auto;
}

.messages__item--visitor {
  margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
  position: sticky;
  bottom: 0;
}

.btn-group button {
  cursor: pointer;
}

